
@font-face
  font-family: "SegoeUILight"
  src: url("../fonts/SegoeUI-Light.eot")
  src: url("../fonts/SegoeUI-Light.eot?#iefix")format("embedded-opentype"),url("../fonts/SegoeUI-Light.woff") format("woff"),url("../fonts/SegoeUI-Light.ttf") format("truetype")
  font-style: normal
  font-weight: normal

@font-face
  font-family: "SegoeUI"
  src: url("../fonts/SegoeUI.eot")
  src: url("../fonts/SegoeUI.eot?#iefix")format("embedded-opentype"),url("../fonts/SegoeUI.woff") format("woff"),url("../fonts/SegoeUI.ttf") format("truetype")
  font-style: normal
  font-weight: normal


@font-face
  font-family: "SegoeUI-Semibold"
  src: url("../fonts/SegoeUI-SemiBold.eot")
  src: url("../fonts/SegoeUI-SemiBold.eot?#iefix")format("embedded-opentype"),url("../fonts/SegoeUI-SemiBold.woff") format("woff"),url("../fonts/SegoeUI-SemiBold.ttf") format("truetype")
  font-style: normal
  font-weight: normal




body
  font-family: "SegoeUILight", sans-serif
  padding: 0
  margin: 0
  line-height: 1em
  font-size: 18px
  color: #313131
  a
    font-family: "SegoeUILight", sans-serif
    line-height: 1em
    font-size: 18px


.img-holder
  overflow: hidden
  height: 100%
img
   max-width: 100%




#cache
  display: none



#about
  .content
    width: 940px
    margin: auto
    padding: 75px 0 85px
    h3
      margin-bottom: 30px
      text-align: center
      line-height: 1em
      font-size: 60px
      color: #313131

    .text-holder
      margin-bottom: 70px
      padding: 0 50px
      p
        line-height: 2em
        text-align: center

    .text-about
      column-width: 50%
      column-count: 2
      column-gap: 30px
      p
        line-height: 2em

  #slider
    margin-bottom: 40px
    .bx-controls
      display: none

.home
  #main_slider
    height: 670px
    .header
      position: absolute
      left: 50%
      margin-left: -470px
      z-index: 2
      top: 0



      .menu

        li

          a

            height: 75px


#main_slider
  //height: 670px
  position: relative
  background: #4d4d4d
  .header

    width: 940px
    margin: auto
    .logo
      float: left
      margin-top: 30px
      a
        font-family: Corbel, sans-serif
        color:  #ffffff
        font-size: 48px
        font-weight: 700
        line-height: 36px
        text-align: left
        transition: all 0.35s
        &:hover
          text-decoration: none
          //color:  #059ed1
          transition: all 0.35s


    .menu
      float: right
      #menu-icon
        display: none
        cursor: pointer
        .icon-bar
          background-color: #fff
          display: block
          width: 40px
          height: 4px
          margin-bottom: 7px
  
          &:last-child
            margin-bottom: 0
      li
        display: inline-block
        vertical-align: top
        float: left

        &:last-child
          margin-right: 0
        &.active
          a
            background:  #059ed1

        a
          color: #fff
          transition: all 0.35s
          width: 100px
          height: 90px
          display: block
          text-align: center
          box-sizing: border-box
          padding-top: 35px
          &:hover
            //color: #059ed1
            background:  #059ed1
            transition: all 0.35s
            text-decoration: none
  .slider_main
    height: 670px

    li
      height: 670px
      //animation: slideInLeft 2s linear infinite
      //transform-origin: center bottom

      &.active-slide
        .text-slider
          .info-slider
            .number

              animation-duration: 1s
              animation-fill-mode: both
              animation: flipInY 0.8s
              opacity: 1
            .text-holder

              h4

                animation-duration: 1s
                animation-fill-mode: both
                animation: flipInX 1.5s
                opacity: 1

              .text

                animation-duration: 1s
                animation-fill-mode: both
                animation: flipInX 1.7s
                opacity: 1

              .link_readmore

                a

                  animation-duration: 1s
                  animation-fill-mode: both
                  animation: flipInX 2s
                  opacity: 1
      .text-slider
        //background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(7, 11, 14, 0.17) 16%, #2c3e50 100%)
        background: url("../img/bg/shadow.png") repeat-x
        width: 100%
        height: 100%
        .info-slider
          padding-top: 140px
          width: 940px
          margin:  auto


          .number
            width: 80px
            height: 90px
            float: left
            color: #fff
            font-size: 48px
            line-height: 85px
            text-align: center
            background-color:  rgba(5, 158, 209, 0.7)
            opacity: 0
            /*animation-duration: 1s
            //animation-fill-mode: both
            //animation: flipInY 1s
          .text-holder
            width: 620px
            float: left
            h4
              width: 100%
              height: 90px
              color: #fff
              font-size: 48px
              line-height: 77px
              text-align: left
              background:  #059ed1
              padding: 0 40px
              text-overflow: ellipsis
              white-space: nowrap
              overflow: hidden
              box-sizing: border-box
              font-weight: normal
              opacity: 0
              //animation-duration: 1s
              //animation-fill-mode: both
              //animation: flipInX 1.5s

            .text
              width: 100%
              height: 120px
              text-align: left
              background:  #fff
              padding: 20px
              box-sizing: border-box
              opacity: 0
              //animation-duration: 1s
              //animation-fill-mode: both
              //animation: flipInX 1.7s
              p
                font-size: 16px
                line-height: 1.6em
                text-overflow: ellipsis
                overflow: hidden
                height: 100%
            .link_readmore

              width: 140px
              height: 40px
              a
                color: #fff
                display: block
                height: 40px
                line-height: 37px
                box-sizing: border-box
                padding-left: 17px
                position: relative
                transition: all 0.35s
                background:  #059ed1
                opacity: 0
                //animation-duration: 1s
                //animation-fill-mode: both
                //animation: flipInX 2s
                &:hover
                  text-decoration: none
                  transition: all 0.35s
                  background:  #0584af
                &:after
                  width: 6px
                  height: 10px
                  background: url("../img/icons/readmore.png") no-repeat
                  background-size: 100%
                  display: inline-block
                  margin-left: 10px
                  content: ""




  .bx-controls
    .bx-pager
      width: 940px
      margin: auto
      left: 0
      right: 0
      bottom: 175px
      .bx-pager-item
        width: 33.3%
        a
          width: 100%
          height: 50px
          margin: 0
          border-radius: 0
          transition: all 0.35s
          color: #fff
          text-align: left
          font-size: 30px
          line-height: 1em
          padding-bottom: 25px
          border-bottom: 5px solid rgba(255, 255, 255, 0.35)
          background: none
          font-family: "SegoeUI-Semibold", sans-serif


          &.active, &:hover
            border-color: #fff
            transition: all 0.35s
            text-decoration: none




#services
  background: #daf0f7
  padding-bottom: 60px
  position: relative
  .content
    width: 940px
    margin: auto
    margin-top: -140px
    .item-holder
      width: 33.3%
      float: left
      &:nth-child(2)
        .img-block
          .img-holder
            background: #0584af
          h3
            background: #0584af
      &:nth-child(3)
        .img-block
          .img-holder
            background: #057094
          h3
            background: #057094
      .img-block

        .img-holder
          text-align: center
          height: 140px
          background: #059ed1
          border-bottom: 3px solid #fff
        h3
          height: 80px
          overflow: hidden
          padding: 14px 20px
          box-sizing: border-box
          background: #059ed1
          color: #fff
          text-align: center
          font-size: 20px
          font-family: "SegoeUI-Semibold", sans-serif
          line-height: 1.3em
          text-overflow: ellipsis



      .text-block
        padding: 15px 15px 0
        p
          line-height: 2em
          margin-bottom: 20px
        a
          color: #059ed1
          font-family: "SegoeUI-Semibold", sans-serif
          height: 40px
          line-height: 37px
          position: relative
          transition: all 0.35s

          &:hover
            //text-decoration: none
            transition: all 0.35s
            //color: #057094
          &:after
            width: 6px
            height: 10px
            background: url("../img/icons/readmore2.png") no-repeat
            background-size: 100%
            display: inline-block
            margin-left: 10px
            content: ""


#works
  background: url("../img/bg/bg_work.jpg") no-repeat
  background-size: cover
  padding: 50px 0
  .content
    width: 940px
    margin: auto
    h3
      margin-bottom: 30px
      text-align: center
      line-height: 1em
      font-size: 60px
      color: #313131

    .text-holder
      margin-bottom: 90px
      padding: 0 50px
      p
        line-height: 2em
        text-align: center
    .bx-wrapper
        padding-bottom: 110px
        .slider_works
          li
            opacity: 0
            &.active-slide
              opacity: 1
              animation-duration: 1s
              animation-fill-mode: both
              animation: zoomIn 1s

            img
              //box-shadow: -2px 11px 44px -1px rgba(0,0,0,0.56)
        .bx-controls-direction
          a
            background: url("../img/icons/readmore.png") no-repeat rgba(163, 163, 163, 0.8)
            background-size: 50%
            width: 50px
            height: 50px
            display: block
            margin-top: 0
            background-position: 60% center
            transition: all 0.35s
            top: 195px
            &.bx-prev
              left: 0
              transform: rotate(180deg)
            &.bx-next
              right: 0

            &:hover
              background: url("../img/icons/readmore.png") no-repeat rgba(163, 163, 163, 0.9)
              background-size: 50%
              background-position: 60% center
              transition: all 0.35s
  .bx-controls
    .bx-pager
      width: 940px
      margin: auto
      left: inherit
      bottom: 0
      right: inherit

      .bx-pager-item
        width: 25%
        a
          width: 100%
          height: 40px
          margin: 0
          border-radius: 0
          transition: all 0.35s
          color: #74cbe8
          text-align: left
          font-size: 24px
          line-height: 1em
          //padding-bottom: 25px
          border-bottom: 4px solid #74cbe8
          background: none
          font-family: "SegoeUI-Semibold", sans-serif
          box-sizing: border-box


          &.active, &:hover
            border-color: #059ed1
            color: #059ed1
            transition: all 0.35s
            text-decoration: none


#who_we_are
  padding-top: 80px
  padding-bottom: 120px
  .content
    width: 940px
    margin: auto
    h3
      margin-bottom: 30px
      text-align: center
      line-height: 1em
      font-size: 60px
      color: #313131

    .text-holder
      margin-bottom: 70px
      padding: 0 50px
      p
        line-height: 2em
        text-align: center

    .bx-wrapper
      padding-bottom: 100px
      li
        .img-holder
          width: 100%
          margin-bottom: 30px
        .info_personal
          h4
            margin-bottom: 20px
            line-height: 1em
            font-size: 30px
            color: #313131
            font-weight: normal
          .text-holder
            padding: 0
            text-align: left
            margin-bottom: 0
            p
              text-align: left
  .bx-controls
    .bx-controls-direction
      display: none
    .bx-pager
      width: 940px
      margin: auto
      left: inherit
      bottom: 0
      right: inherit

      .bx-pager-item
        width: 25%
        a
          width: 100%
          height: 40px
          margin: 0
          border-radius: 0
          transition: all 0.35s
          color: #74cbe8
          text-align: left
          font-size: 24px
          line-height: 1em
          //padding-bottom: 25px
          border-bottom: 4px solid #74cbe8
          background: none
          font-family: "SegoeUI-Semibold", sans-serif
          box-sizing: border-box


          &.active, &:hover
            border-color: #059ed1
            color: #059ed1
            transition: all 0.35s
            text-decoration: none



#comment
  background: url("../img/bg/bg_comment.png") no-repeat
  background-size: cover
  padding: 100px 0
  .content
    width: 940px
    margin: auto
    color: #fff
    .bx-pager
      display: none
    .bx-wrapper


      .bx-controls-direction
        a
          background: url("../img/icons/readmore2.png") no-repeat
          background-size: 100%
          width: 21px
          height: 35px
          display: block
          margin-top: -17px
          transition: all 0.35s

          &.bx-prev
            left: 0
            transform: rotate(180deg)
          &.bx-next
            right: 0

          &:hover
            opacity: 0.8
            transition: all 0.35s

      .bx-viewport

        li
          text-align: center


          .info_personal
            width: 270px
            margin: auto
            margin-bottom: 45px
            .img-holder
              width: 60px
              height: 60px
              border-radius: 60px
              display: inline-block
              vertical-align: middle
              margin-right: 15px
              img
                width: 100%
              //margin: auto
            .text-holder
              display: inline-block
              vertical-align: middle
              text-align: left
              h4
                font-size: 24px
                line-height: 1em
                font-weight: normal
                margin-bottom: 10px
                text-overflow: ellipsis
                white-space: nowrap
                overflow: hidden
                max-width: 190px
              .data
                font-size: 16px
                line-height: 1em

          .comment-holder
            clear: both
            padding: 0 70px
            box-sizing: border-box
            p
              max-height: 140px
              overflow: hidden
              text-overflow: ellipsis
              line-height: 2em
              margin-bottom: 40px
            .link_comment
              border: 3px #ffffff solid
              width: 174px
              height: 44px
              box-sizing: border-box
              display: block
              color: #fff
              text-decoration: none
              margin: auto
              text-align: center
              line-height: 32px
              font-size: 24px
              transition: all 0.35s
              &:hover
                color: #059ed1
                background: #fff
                transition: all 0.35s




#contacts
  padding-top: 100px
  padding-bottom: 135px
  .content
    width: 940px
    margin: auto
    h3
      margin-bottom: 30px
      text-align: center
      line-height: 1em
      font-size: 60px
      color: #313131

    .text-holder
      margin-bottom: 140px
      padding: 0 50px
      p
        line-height: 2em
        text-align: center
    .content-holder
      .left-holder
        width: 220px
        float: left
        h4
          margin-bottom: 35px
          font-size: 30px
          line-height: 1em
          //font-weight: normal
        .contacts-details
          li
            margin-bottom: 25px
            padding-bottom: 10px
            border-bottom: 1px solid #e9e6e6
            &:last-child
              margin-bottom: 0
              padding-bottom: 0
              border-bottom: 0
            &.social
              a
                display: inline-block
                vertical-align: top
                width: 35px
                height: 35px
                background: url("../img/icons/social.png") no-repeat
                margin-right: 20px
                transition: all 0.35s
                &:hover
                  opacity: 0.8
                  transition: all 0.35s
                &:last-child
                  margin-right: 0
                &.vk
                  background-position: -55px 0
                &.google
                  background-position: top right
            h5
              font-size: 18px
              line-height: 1em
              margin-bottom: 20px
              font-family: "SegoeUI-Semibold", sans-serif
            p
              font-size: 18px
              line-height: 1em
              color: #000
              margin-bottom: 15px
              &:last-child
                margin-bottom: 0

              a
                font-size: 18px
                line-height: 1em
                color: #000
                transition: all 0.35s
                &:hover
                  color: #059ed1
                  transition: all 0.35s
                  text-decoration: none

      .right-holder
        width: 620px
        float: right
        h4
          margin-bottom: 35px
          font-size: 30px
          line-height: 1em
          //font-weight: normal
        .contacts-form
          .row
            margin-bottom: 20px
            &.input>div
              width: 300px
              margin-right: 15px
              display: inline-block
              vertical-align: middle
              &:last-child
                margin-right: 0

            input,textarea
              border: 1px solid #c5c4c4
              box-sizing: border-box
            .error
              input,textarea
                border-color: red
            input
              padding: 12px
              width: 100%


            textarea
              width: 100%
              height: 190px
              padding: 12px


          .submit
            background:  #059ed1
            width: 195px
            height: 45px
            color:  #feffff
            font-size: 20px
            line-height: 42px
            text-align: center
            text-transform: uppercase
            margin: auto
            cursor: pointer
            transition: all 0.35s
            &:hover
              background: #0584af
              transition: all 0.35s

footer
  background: #4d4d4d
  padding: 35px 0
  .content
    width: 940px
    margin: auto
    .menu
      display: inline-block
      vertical-align: top
      li
        display: inline-block
        vertical-align: top
        margin-right: 40px
        &:last-child
          margin-right: 0
        &.active
          a
            color: #059ed1
        a
          color: #fff
          transition: all 0.35s
          &:hover
              color: #059ed1
              transition: all 0.35s
              text-decoration: none

    .copyright
      color:  #ffffff
      float: right
      span
        font-family: "SegoeUI-Semibold", sans-serif
        color:  #059ed1
        margin-left: 7px

#modal_form
  box-sizing: border-box
  h4
    font-size: 36px
    line-height: 1em
    color: #000
    margin-bottom: 40px
    font-weight: normal
  .comment-form
    .row
      margin-bottom: 20px
      &.input>div
        width: 300px
        margin-right: 15px
        display: inline-block
        vertical-align: middle
        &:last-child
          margin-right: 0

      input,textarea
        border: 1px solid #c5c4c4
        box-sizing: border-box
      .error
        input,textarea
          border-color: red
      input
        padding: 12px
        width: 100%


      textarea
        width: 100%
        height: 190px
        padding: 12px


    .submit
      background:  #059ed1
      width: 195px
      height: 45px
      color:  #feffff
      font-size: 20px
      line-height: 42px
      text-align: center
      text-transform: uppercase
      margin: auto
      cursor: pointer
      transition: all 0.35s
      &:hover
        background: #0584af
        transition: all 0.35s


#service
  padding-top: 80px
  padding-bottom: 110px
  .content
    width: 940px
    margin: auto
    h3
      margin-bottom: 30px
      text-align: center
      line-height: 1.3em
      font-size: 48px
      color: #313131
      font-weight: normal

    .text-holder
      margin-bottom: 60px
      padding: 0 50px
      p
        line-height: 2em
        text-align: center

    .content-holder
      .img-holder
        width: 100%
        text-align: center
        margin-bottom: 40px
        img
          width: 100%
      p
        line-height: 2em
        margin-bottom: 50px
        &:last-child
          margin-bottom: 0


#sub_services
  background: #edf9fd
  padding: 50px 0
  .content
    width: 940px
    margin: auto
    h3
      margin-bottom: 20px
      line-height: 1.5em
      font-size: 48px
      color: #313131
      font-weight: normal

    .text-holder
      margin-bottom: 60px

      p
        line-height: 2em


    .content-holder
      ul
        li
          display: inline-block
          vertical-align: top
          width: 49%
          margin-bottom: 20px
          padding-right: 20px
          box-sizing: border-box
          .name-holder
            position: relative
            .number
              background: #059ed1
              width: 40px
              height: 40px
              display: inline-block
              vertical-align: middle
              color: #fff
              text-align: center
              line-height: 35px
              font-size: 36px
              margin-right: 15px
              position: absolute
              top: 0
              left: 0
            .name
              color: #000
              font-size: 24px
              display: inline-block
              vertical-align: middle
              text-overflow: ellipsis
              white-space: nowrap
              line-height: 35px
              height: 40px
              width: 100%
              overflow: hidden
              padding-left: 55px
              box-sizing: border-box

          .description
            p
              line-height: 1.5em
              color: #313131










@media screen and (max-width: 1023px)
  .home
    #main_slider
      .header
        margin-left: -450px



  #main_slider
    .bx-controls
      .bx-pager
        width: 900px
    .header
      width: 900px

    .slider_main
      li
        .text-slider
          .info-slider
            width: 900px
  #services,#about,#works,#who_we_are,#comment, #contacts,footer,
  #service, #sub_services
    .content
      width: 900px

  #works .bx-controls .bx-pager,
  #who_we_are .bx-controls .bx-pager
    width: 900px


@media screen and (max-width: 959px)
  body
    font-size: 16px

  #main_slider
    .bx-controls
      .bx-pager
        width: 100%
        padding: 20px
        box-sizing: border-box
    .header
      width: 100%
      padding: 20px
      box-sizing: border-box
      .logo
        margin-top: 0
        position: absolute
        top: 15px
        left: 20px
        z-index: 3
        a
          font-size: 28px
      .menu
        width: 100%
        position: relative
        z-index: 2
        background: #4d4d4d
        &.active
          //z-index: 4
          #menu-icon
            //margin-bottom: 20px
        #menu-icon
          display: block
          float: right
        ul
          clear: both
          display: none
          padding-top: 20px
        li
          display: block
          //margin-bottom: 15px
          float: none
          a
            color: #fff
            width: 100%
            height: auto
            padding: 10px


    .slider_main
      li
        .text-slider
          .info-slider
            width: 100%
            padding: 0 20px
            box-sizing: border-box
  #services,#about,#works,#who_we_are,#comment, #contacts,footer,
  #service, #sub_services
    .content
      width: 100%
      padding: 0 20px
      box-sizing: border-box

  #works .bx-controls .bx-pager,
  #who_we_are .bx-controls .bx-pager
      width: 100%
      padding: 0 20px
      box-sizing: border-box


  #service
    padding: 30px 0
    .content
      h3
        font-size: 24px
        margin-bottom: 20px
      .text-holder
        margin-bottom: 30px
        padding: 0
        p
          line-height: 1.5em
      .img-holder
        margin-bottom: 30px
      .content-holder p
        margin-bottom: 30px
  #sub_services
    padding: 30px 0 10px
    .content
      h3
        line-height: 1em
        font-size: 24px
      .text-holder
        margin-bottom: 30px

      .content-holder ul li
        display: block
        width: auto
        padding-right: 0
        .name-holder .name
          font-size: 18px



  #contacts
    padding: 30px 0
    .content
      h3
        font-size: 24px
        line-height: 1em

      .text-holder
        margin-bottom: 30px
        padding: 0
        p
          line-height: 1.5em

      .content-holder
        .left-holder
          width: 100%
          float: none
          margin-bottom: 40px
          text-align: center
          h4
            margin-bottom: 30px
            font-size: 20px
          .contacts-details li
            margin-bottom: 20px
            padding-bottom: 0
            border-bottom: 0
            h5
              margin-bottom: 10px
            p
              font-size: 16px
              a
                font-size: 16px




        .right-holder
          width: 100%
          float: none
          h4

            margin-bottom: 30px
            font-size: 20px


          .contacts-form

            .row.input > div
              width: 100%
              margin-right: 0
              display: block
              margin-bottom: 20px




  footer
    .content
      .menu
        display: none
      .copyright
        float: none
        text-align: center


  #about
    padding: 30px 0
    .content
      h3
        font-size: 24px
      .text-holder
        margin-bottom: 40px
        padding: 0
      .text-about
          column-count: 1
          p
            margin-bottom: 30px



  #works
    padding: 30px 0
    .content
      h3
        font-size: 24px
      .text-holder
        margin-bottom: 40px
        padding: 0
      .bx-wrapper
        padding-bottom: 50px

  #who_we_are
    padding: 30px 0
    .content
      h3
        font-size: 24px
      .text-holder
        margin-bottom: 40px
        padding: 0


  #modal_form
    width: calc( 100% - 40px )
    margin-left: 0
    left: 20px
    padding: 30px
    margin-top: -263px
    height: 525px
    h4
      font-size: 24px
      margin-bottom: 30px
    .comment-form .row.input
      margin-bottom: 0
      > div
        width: 100%
        display: block
        margin-bottom: 20px