doctype html
html(lang="ru")
    include ./head.jade


    body(data-spy="scroll" data-target="#menu-block" data-offset="105")
        .page_wrapper.error404



            .container
                .content
                    .logo
                        a(href="index.html")
                            img(src="img/icons/Logo.png" alt="404 error")
                    .error404_text 404
                    .error_text Страница не найдена
                    a.submit(href="index.html") На главную






