footer
    .content
        .menu.nav
            ul
                li.active
                    a(href="#") Home
                li
                    a(href="#") About us
                li
                    a(href="#") Services
                li
                    a(href="#") Contacts

        .copyright © 2016
            span Intertech


#cache
