footer
    .content
        .menu.nav
            ul
                li.active
                    a(href="index.html") Home
                li
                    a(href="#services") Services
                li
                    a(href="#works") Works
                li
                    a(href="#about") About us
                li
                    a(href="#product") Products
                li
                    a(href="#who_we_are") Our team
                li
                    a(href="#comment") Reviews
                li
                    a(href="#contacts") Contacts

        .copyright © 2016
            span Intertech

script(src="bower_components/jquery/dist/jquery.js")
script(src="bower_components/jquery-animateNumber/jquery.animateNumber.js")
script(src="js/functions.js")
script(src="js/alexValidate.js")
script(src="js/jquery.bxslider.js")
script(src="bower_components/jquery-bar-rating/jquery.barrating.js")
script(src="js/scrollspy.js")

#cache
