footer
    .content
        .menu.nav
            ul
                li.active
                    a(href="#") Home
                li
                    a(href="#") About us
                li
                    a(href="#") Services
                li
                    a(href="#") Contacts

        .copyright © 2016
            span Intertech

script(src="bower_components/jquery/dist/jquery.js")
script(src="js/functions.js")
script(src="js/alexValidate.js")
script(src="js/jquery.bxslider.js")
script(src="bower_components/jquery-bar-rating/jquery.barrating.js")
#cache
