doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.home


            div.container


                    #main_slider
                        ul.slider_main

                            li(style="background: url('img/content/slider1.jpg') no-repeat center; background-size: cover;")
                                .text-slider
                                    .info-slider.cf
                                        .number 01
                                        .text-holder
                                            h4 Web-development
                                            .text
                                                p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            .link_readmore
                                                a(href="#") Read more


                            li(style="background: url('img/content/slider1.jpg') no-repeat center; background-size: cover;")
                                .text-slider
                                    .info-slider.cf
                                        .number 01
                                        .text-holder
                                            h4 Web-development
                                            .text
                                                p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            .link_readmore
                                                a(href="#") Read more
                            li(style="background: url('img/content/slider1.jpg') no-repeat center; background-size: cover;")
                                .text-slider
                                    .info-slider.cf
                                        .number 01
                                        .text-holder
                                            h4 Web-development
                                            .text
                                                p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            .link_readmore
                                                a(href="#") Read more

                    #services.cf
                        .content
                            .item-holder
                                .img-block
                                    .img-holder
                                        img(src="img/content/web.png")
                                    h3 Web – Entwicklung & Design
                                .text-block
                                    p.
                                        Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no. Graeco singulis necessitatibus id sea. Lorem viris ex his,
                                        has in tota quaestio praesent. Debet ludus ius ei, viderer repudiare sea et.

                                    a(href="#") Read more


                            .item-holder
                                .img-block
                                    .img-holder
                                        img(src="img/content/design.png")
                                    h3 Branding Corporate Design Print-Publikationen
                                .text-block
                                    p.
                                        Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no. Graeco singulis necessitatibus id sea. Lorem viris ex his,
                                        has in tota quaestio praesent. Debet ludus ius ei, viderer repudiare sea et.

                                    a(href="#") Read more


                            .item-holder
                                .img-block
                                    .img-holder
                                        img(src="img/content/marketing.png")
                                    h3 Digital Marketing
                                .text-block
                                    p.
                                        Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no. Graeco singulis necessitatibus id sea. Lorem viris ex his,
                                        has in tota quaestio praesent. Debet ludus ius ei, viderer repudiare sea et.

                                    a(href="#") Read more



                    #about
                        .content
                            h3 About us
                            .text-holder
                                p Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no. Graeco singulis necessitatibus id sea. Lorem viris ex his, has in tota quaestio praesent.

                            #slider

                                ul.slider_about
                                    li

                                        img(src="img/content/slider.jpg")


                                    li
                                        img(src="img/content/slider.jpg")

                                    li
                                        img(src="img/content/slider.jpg")

                            .text-about
                                p.
                                    Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no. Graeco singulis necessitatibus id sea. Lorem viris ex his, has in tota quaestio praesent. Debet ludus ius ei, viderer repudiare sea et.
                                    Ex ipsum iriure vim, mutat deseruisse pri ut, semper euismod consequuntur id mea. Ea pri diam ponderum, ad nam autem solet nemore.
                                p.
                                    Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no. Graeco singulis necessitatibus id sea. Lorem viris ex his, has in tota quaestio praesent. Debet ludus ius ei, viderer repudiare sea et.
                                    Ex ipsum iriure vim, mutat deseruisse pri ut, semper euismod consequuntur id mea. Ea pri diam ponderum, ad nam autem solet nemore.

                    #works
                        .content
                            h3 Our works
                            .text-holder
                                p Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no. Graeco singulis necessitatibus id sea. Lorem viris ex his, has in tota quaestio praesent.

                            #slider-work

                                ul.slider_works
                                    li

                                        img(src="img/content/work1.jpg")


                                    li
                                        img(src="img/content/work2.jpg")

                                    li
                                        img(src="img/content/work3.jpg")

                                    li

                                        img(src="img/content/work1.jpg")


                                    li
                                        img(src="img/content/work1.jpg")

                                    li
                                        img(src="img/content/work1.jpg")
                                    li

                                        img(src="img/content/work1.jpg")


                                    li
                                        img(src="img/content/work1.jpg")

                                    li
                                        img(src="img/content/work1.jpg")
                                    li

                                        img(src="img/content/work1.jpg")


                                    li
                                        img(src="img/content/work1.jpg")

                                    li
                                        img(src="img/content/work1.jpg")
            include ./footer.jade



