doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.home
            include ./header.jade

            div.container
                .wrap
                    p jhvhjv




            include ./footer.jade



