doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.home


            div.container


                    #main_slider
                        .header.cf
                            .logo
                                a(href="#") Intertech

                            .menu.nav
                                ul
                                    li.active
                                        a(href="#") Home
                                    li
                                        a(href="#") About us
                                    li
                                        a(href="#") Services
                                    li
                                        a(href="#") Contacts
                        ul.slider_main

                            li(style="background: url('img/content/slider1.jpg') no-repeat center; background-size: cover;")
                                .text-slider
                                    .info-slider.cf
                                        .number 01
                                        .text-holder
                                            h4 Web-development
                                            .text
                                                p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            .link_readmore
                                                a(href="#") Read more


                            li(style="background: url('img/content/slider1.jpg') no-repeat center; background-size: cover;")
                                .text-slider
                                    .info-slider.cf
                                        .number 01
                                        .text-holder
                                            h4 Web-development
                                            .text
                                                p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            .link_readmore
                                                a(href="#") Read more
                            li(style="background: url('img/content/slider1.jpg') no-repeat center; background-size: cover;")
                                .text-slider
                                    .info-slider.cf
                                        .number 01
                                        .text-holder
                                            h4 Web-development
                                            .text
                                                p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            .link_readmore
                                                a(href="#") Read more

                    #services.cf
                        .content
                            .item-holder
                                .img-block
                                    .img-holder
                                        img(src="img/content/web.png")
                                    h3 Web – Entwicklung & Design
                                .text-block
                                    p.
                                        Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no. Graeco singulis necessitatibus id sea. Lorem viris ex his,
                                        has in tota quaestio praesent. Debet ludus ius ei, viderer repudiare sea et.

                                    a(href="#") Read more


                            .item-holder
                                .img-block
                                    .img-holder
                                        img(src="img/content/design.png")
                                    h3 Branding Corporate Design Print-Publikationen
                                .text-block
                                    p.
                                        Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no. Graeco singulis necessitatibus id sea. Lorem viris ex his,
                                        has in tota quaestio praesent. Debet ludus ius ei, viderer repudiare sea et.

                                    a(href="#") Read more


                            .item-holder
                                .img-block
                                    .img-holder
                                        img(src="img/content/marketing.png")
                                    h3 Digital Marketing
                                .text-block
                                    p.
                                        Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no. Graeco singulis necessitatibus id sea. Lorem viris ex his,
                                        has in tota quaestio praesent. Debet ludus ius ei, viderer repudiare sea et.

                                    a(href="#") Read more



                    #about
                        .content
                            h3 About us
                            .text-holder
                                p Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no. Graeco singulis necessitatibus id sea. Lorem viris ex his, has in tota quaestio praesent.

                            #slider

                                ul.slider_about
                                    li

                                        img(src="img/content/slider.jpg")


                                    li
                                        img(src="img/content/slider.jpg")

                                    li
                                        img(src="img/content/slider.jpg")

                            .text-about
                                p.
                                    Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no. Graeco singulis necessitatibus id sea. Lorem viris ex his, has in tota quaestio praesent. Debet ludus ius ei, viderer repudiare sea et.
                                    Ex ipsum iriure vim, mutat deseruisse pri ut, semper euismod consequuntur id mea. Ea pri diam ponderum, ad nam autem solet nemore.
                                p.
                                    Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no. Graeco singulis necessitatibus id sea. Lorem viris ex his, has in tota quaestio praesent. Debet ludus ius ei, viderer repudiare sea et.
                                    Ex ipsum iriure vim, mutat deseruisse pri ut, semper euismod consequuntur id mea. Ea pri diam ponderum, ad nam autem solet nemore.

                    #works
                        .content
                            h3 Our works
                            .text-holder
                                p Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no. Graeco singulis necessitatibus id sea. Lorem viris ex his, has in tota quaestio praesent.

                            #slider-work

                                ul.slider_works
                                    li

                                        img(src="img/content/work1.jpg")


                                    li
                                        img(src="img/content/work2.jpg")

                                    li
                                        img(src="img/content/work3.jpg")

                                    li

                                        img(src="img/content/work1.jpg")


                                    li
                                        img(src="img/content/work1.jpg")

                                    li
                                        img(src="img/content/work1.jpg")
                                    li

                                        img(src="img/content/work1.jpg")


                                    li
                                        img(src="img/content/work1.jpg")

                                    li
                                        img(src="img/content/work1.jpg")


                    #who_we_are
                        .content
                            h3 Who we are
                            .text-holder
                                p Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no. Graeco singulis necessitatibus id sea. Lorem viris ex his, has in tota quaestio praesent.

                            #slider_who_we_are

                                ul.slider_who_we_are
                                    li
                                        .img-holder
                                            img(src="img/content/sergii.jpg")
                                        .info_personal
                                            h4 Zanizdra Sergii
                                            .text-holder
                                                p Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no.

                                    li
                                        .img-holder
                                            img(src="img/content/egor.jpg")
                                        .info_personal
                                            h4 Larionov Egor
                                            .text-holder
                                                p Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no.
                                    li
                                        .img-holder
                                            img(src="img/content/oleksandr.jpg")
                                        .info_personal
                                            h4 Koshovyi Oleksandr
                                            .text-holder
                                                p Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no.
                                    li
                                        .img-holder
                                            img(src="img/content/sergii.jpg")
                                        .info_personal
                                            h4 Zanizdra Sergii
                                            .text-holder
                                                p Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no.

                                    li
                                        .img-holder
                                            img(src="img/content/egor.jpg")
                                        .info_personal
                                            h4 Larionov Egor
                                            .text-holder
                                                p Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no.
                                    li
                                        .img-holder
                                            img(src="img/content/oleksandr.jpg")
                                        .info_personal
                                            h4 Koshovyi Oleksandr
                                            .text-holder
                                                p Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no.
                                    li
                                        .img-holder
                                            img(src="img/content/sergii.jpg")
                                        .info_personal
                                            h4 Zanizdra Sergii
                                            .text-holder
                                                p Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no.

                                    li
                                        .img-holder
                                            img(src="img/content/egor.jpg")
                                        .info_personal
                                            h4 Larionov Egor
                                            .text-holder
                                                p Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no.
                                    li
                                        .img-holder
                                            img(src="img/content/oleksandr.jpg")
                                        .info_personal
                                            h4 Koshovyi Oleksandr
                                            .text-holder
                                                p Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no.



                #comment
                    .content

                        #slider_comment

                            ul.slider_comment
                                li

                                    .info_personal.cf
                                        .img-holder
                                            img(src="img/content/avatar.jpg")
                                        .text-holder
                                            h4 Svetlana Zarva
                                            .data 14 march 2016
                                    .comment-holder
                                        p.
                                            Ut pri dicat fierent perpetua, id quod commune mandamus sit.
                                            Vel ullum nostro at, delenit iudicabit interpretaris eum id. Ei purto vidit has.
                                            Bonorum appellantur quo at, quo quaestio oportere imperdiet at. Usu malis alienum ex, te pri tollit explicari voluptatum.
                                            Cum at fugit equidem, mei soluta accumsan an, odio impetus temporibus nec in.

                                        a.link_comment(href="#") Leave comment
                                li

                                    .info_personal.cf
                                        .img-holder
                                            img(src="img/content/avatar.jpg")
                                        .text-holder
                                            h4 Svetlana Zarva
                                            .data 14 march 2016
                                    .comment-holder
                                        p.
                                            Ut pri dicat fierent perpetua, id quod commune mandamus sit.
                                            Vel ullum nostro at, delenit iudicabit interpretaris eum id. Ei purto vidit has.
                                            Bonorum appellantur quo at, quo quaestio oportere imperdiet at. Usu malis alienum ex, te pri tollit explicari voluptatum.
                                            Cum at fugit equidem, mei soluta accumsan an, odio impetus temporibus nec in.
                                        a.link_comment(href="#") Leave comment
                                li

                                    .info_personal.cf
                                        .img-holder
                                            img(src="img/content/avatar.jpg")
                                        .text-holder
                                            h4 Svetlana Zarva
                                            .data 14 march 2016
                                    .comment-holder
                                        p.
                                            Ut pri dicat fierent perpetua, id quod commune mandamus sit.
                                            Vel ullum nostro at, delenit iudicabit interpretaris eum id. Ei purto vidit has.
                                            Bonorum appellantur quo at, quo quaestio oportere imperdiet at. Usu malis alienum ex, te pri tollit explicari voluptatum.
                                            Cum at fugit equidem, mei soluta accumsan an, odio impetus temporibus nec in.
                                        a.link_comment(href="#") Leave comment

                #contacts
                    .content
                        h3 Contacts
                        .text-holder
                            p Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no. Graeco singulis necessitatibus id sea. Lorem viris ex his, has in tota quaestio praesent.

                        .content-holder.cf
                            .left-holder
                                h4 Contact details
                                ul.contacts-details
                                    li
                                        h5 Address
                                        p Lorem ipsum dolor sit amet
                                    li
                                        h5 Phone
                                        p
                                            a(href="tel:+380(93)5469365") +380 (93) 54 69 365
                                        p
                                            a(href="tel:+380(93)5469365") +380 (93) 54 69 365
                                    li
                                        h5 E-mail
                                        p
                                            a(href="mailto:Intertech@gmail.com") Intertech@gmail.com

                                    li.social
                                        a.fecebook(target="_blank" href="#")
                                        a.vk(target="_blank" href="#")
                                        a.google(target="_blank" href="#")
                            .right-holder
                                h4 Contact form

                                form.contacts-form
                                    .row.input
                                        div

                                            input(type="text", placeholder="Name:", name="name", minlength="2", data-validate="name")
                                        div
                                            input(type="email", placeholder="E-mail:", name="email", data-validate="email")

                                    .row
                                        div
                                            textarea( placeholder="Your message:", name="message",data-validate="name")

                                    //button(type="submit") Отправить
                                    .btn.submit Send massage
            include ./footer.jade



