doctype html
html(lang="ru")
    include ./head.jade


    body(data-spy="scroll" data-target="#menu-block" data-offset="105")
        .page_wrapper.portfolio
            #preloader

            div.container


                    #main_slider(style="background: url('img/bg/bg_portfolio.jpg') no-repeat center; background-size: cover;")
                        .header.cf
                            .content
                                .logo
                                    a(href="index.html")
                                        img(src="img/icons/Logo-mini.png")
                                ul.lang
                                    li.active
                                        a(href="#") En

                                    li
                                        a(href="#") Ru



                                #menu-block.menu
                                    #menu-icon
                                        span.icon-bar
                                        span.icon-bar
                                        span.icon-bar
                                    .mobile-menu
                                        ul.nav#menu
                                            li
                                                a(href="index.html") Home
                                            li
                                                a(href="#services") Services
                                            li.active
                                                a(href="#works") Portfolio
                                            li
                                                a(href="#about") About us
                                            li
                                                a(href="#product") Products
                                            li.hidden
                                                a(href="#who_we_are") Our team
                                            li
                                                a(href="#comment") Reviews
                                            li
                                                a(href="#contacts") Contacts

                                        ul.lang
                                            li.active
                                                a(href="#") En

                                            li
                                                a(href="#") Ru


                        .text-header
                            .text-holder
                                h4 How we`ve made our customers
                                    span happy
                                .text
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore magna aliqua.




                    .info_portfolio
                        h1 Portfolio
                        .text_holder
                            p Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no. Graeco singulis necessitatibus id sea. Lorem viris ex his, has in tota quaestio praesent.


                    .portfolio_list
                        .item#project1
                            .wrap
                                .description.cf
                                    .img-holder
                                        a(href="#")
                                            img(src="img/content/portfolio_img1.png")
                                    .text_holder
                                        h3 Meat Studies
                                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                        a.link(href="#")

                                            i.fa.fa-external-link
                                            | &nbsp;
                                            | http://intertechcompany.com/
                                .list_characteristics
                                    .design
                                        h4 Design
                                        .text_holder
                                            p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                                    .content
                                        h4 Content
                                        .text_holder
                                            p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                                    .creativity
                                        h4 Creativity
                                        .text_holder
                                            p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                                    .usability
                                        h4 Usability
                                        .text_holder
                                            p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                                    .task
                                        h4 Task
                                        .text_holder
                                            ul
                                                li Создать готовый механизм для успешных  интернет - продаж начиная с разработки структуры сайта и его синхронизации с  1С, заканчивая маркетинговым продвижением в интернет пространстве
                                                li Сделать дизайн интернет-магазина и корпоративный стиль с учетом последних тенденций
                                                li Обеспечить ресурсу качественное отображение на любых устройствах — как десктопах, так и планшетах, смартфонах, с помощью адаптивной верстки
                                                li Сделать процесс выбора и покупки товара в интернет-магазине простым и понятным
                                                li Cделать функционал фильтрации товаров гибким и удобным

                                    .result
                                        h4 Result
                                        .text_holder
                                            ul
                                                li Создан готовый продукт для успешных интернет продаж
                                                li Красивый и удобный в управлении интернет-магазин в фирменном стиле с учетом современных трендов веб-дизайна
                                                li Максимально простой процесс оформление заказа с учетом оптовых продаж, что является залогом увеличения показателей конверсии интернет-магазина.
                                                li Интеграция интернет - магазина с CRM, телефонией Ringostat, подключение Google Analytics
                                                li Наполнение сайта уникальным контентом, SEO продвижение и запуск рекламных кампаний в Yandex


                                .feedback
                                    .link feedback
                                    .list_feedback
                                        .item_feedback
                                            .name Alexey Pogorelov
                                            .data 14 april 2016
                                            .comment "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                                            //select.rating_show
                                                option(value="1") 1
                                                option(value="2") 2
                                                option(value="3") 3
                                                option(value="4" selected) 4
                                                option(value="5") 5

                        .item#project2
                            .wrap
                                .description.cf
                                    .img-holder
                                        img(src="img/content/portfolio_img2.png")
                                    .text_holder
                                        h3 Meat Studies
                                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                .list_characteristics
                                    .design
                                        h4 Design
                                        .text_holder
                                            p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                                    .content
                                        h4 Content
                                        .text_holder
                                            p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                                    .creativity
                                        h4 Creativity
                                        .text_holder
                                            p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                                    .usability
                                        h4 Usability
                                        .text_holder
                                            p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."



                                .feedback
                                    .link feedback
                                    .list_feedback
                                        .item_feedback
                                            .name Alexey Pogorelov
                                            .data 14 april 2016
                                            .comment "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                                            //select.rating_show
                                                option(value="1") 1
                                                option(value="2") 2
                                                option(value="3") 3
                                                option(value="4") 4
                                                option(value="5" selected) 5
                        .item#project3
                            .wrap
                                .description.cf
                                    .img-holder
                                        img(src="img/content/portfolio_img3.png")
                                    .text_holder
                                        h3 Meat Studies
                                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                .list_characteristics
                                    .design
                                        h4 Design
                                        .text_holder
                                            p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                                    .content
                                        h4 Content
                                        .text_holder
                                            p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                                    .creativity
                                        h4 Creativity
                                        .text_holder
                                            p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                                    .usability
                                        h4 Usability
                                        .text_holder
                                            p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."





                                .feedback
                                    .link feedback
                                    .list_feedback
                                        .item_feedback
                                            .name Alexey Pogorelov
                                            .data 14 april 2016
                                            .comment "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                                            //select.rating_show
                                                option(value="1") 1
                                                option(value="2") 2
                                                option(value="3") 3
                                                option(value="4" selected) 4
                                                option(value="5") 5
                        .item#project4
                            .wrap
                                .description.cf
                                    .img-holder
                                        img(src="img/content/portfolio_img4.png")
                                    .text_holder
                                        h3 Meat Studies
                                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                .list_characteristics
                                    .design
                                        h4 Design
                                        .text_holder
                                            p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                                    .content
                                        h4 Content
                                        .text_holder
                                            p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                                    .creativity
                                        h4 Creativity
                                        .text_holder
                                            p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                                    .usability
                                        h4 Usability
                                        .text_holder
                                            p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."




                                .feedback
                                    .link feedback
                                    .list_feedback
                                        .item_feedback
                                            .name Alexey Pogorelov
                                            .data 14 april 2016
                                            .comment "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                                            //select.rating_show
                                                option(value="1") 1
                                                option(value="2") 2
                                                option(value="3") 3
                                                option(value="4") 4
                                                option(value="5" selected) 5





            #connect_us
                a.open_modal(href="#modal_form_connect") Connect with us

            #modal_form_connect.modal_div
                #modal_close
                .message_modal.confirm-container-review.show
                    i.fa.fa-thumbs-o-up
                    | Форма успешно отправлена
                #modal_holder

                    form.comment-form

                        h4 Send a message
                        .row
                            div

                                input(type="text", placeholder="Name:", name="name", minlength="2", data-validate="name")

                        .row.input
                            div
                                input(type="text", placeholder="Mail:", name="email", data-validate="email")
                            div
                                input(type="text", placeholder="website:", name="website")
                        .row
                            div
                                textarea( placeholder="Your message:", name="message",data-validate="name")

                        //button(type="submit") Отправить
                        .btn.submit Send massage



            #overlay
            include ./footer.jade



