doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper


            div.container


                #main_slider
                    .header.cf
                        .logo
                            a(href="index.html")
                                img(src="img/icons/Logo-mini.png")
                        ul.lang
                            li.active
                                a(href="#") En

                            li
                                a(href="#") Ru



                        .menu
                            #menu-icon
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            .mobile-menu
                                ul.nav
                                    li.active
                                        a(href="index.html") Home
                                    li
                                        a(href="#services") Services
                                    li
                                        a(href="#works") Portfolio
                                    li
                                        a(href="#about") About us
                                    li
                                        a(href="#product") Products
                                    li
                                        a(href="#who_we_are") Our team
                                    li
                                        a(href="#comment") Reviews
                                    li
                                        a(href="#contacts") Contacts

                                ul.lang
                                    li.active
                                        a(href="#") En

                                    li
                                        a(href="#") Ru


                #service
                    .content
                        h3 Web – Entwicklung & Web – Design
                        .text-holder
                            p Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no. Graeco singulis necessitatibus id sea. Lorem viris ex his, has in tota quaestio praesent.
                        .content-holder
                            .img-holder
                                img(src="img/content/web.jpg")
                            p.
                                Mel ex altera iriure, mei ad phaedrum principes, in pri mazim aliquid facilis.
                                No mel maiestatis dissentiunt, te pri ignota viderer lucilius, quo nisl probatus perfecto ut.
                                Deleniti temporibus vel id, vis case patrioque persecuti et.
                                Magna quidam intellegat nec ex, ad laoreet hendrerit eam.
                                Odio quando maiestatis nec no. Est enim movet alterum an, ne qui nulla scaevola mediocrem.
                                Eum ut aliquam rationibus consequuntur.
                            p.
                                Ut pri dicat fierent perpetua, id quod commune mandamus sit.
                                Vel ullum nostro at, delenit iudicabit interpretaris eum id. Ei purto vidit has.
                                Bonorum appellantur quo at, quo quaestio oportere imperdiet at.
                                Usu malis alienum ex, te pri tollit explicari voluptatum.
                                Cum at fugit equidem, mei soluta accumsan an, odio impetus temporibus nec in.




                #sub_services
                    .content
                        h3 Sub- services
                        .text-holder
                            p Vix te mutat deserunt, iisque definiebas instructior vix ea, vel nibh menandri maiestatis at.
                        .content-holder
                            ul
                                li
                                    .name-holder
                                        .number 01
                                        .name Wartung
                                    .description
                                        p Duo quidam adipisci sapientem in. Ius liber torquatos et, vis nobis exerci soleat id.

                                li
                                    .name-holder
                                        .number 02
                                        .name E-Commerce
                                    .description
                                        p Duo quidam adipisci sapientem in. Ius liber torquatos et, vis nobis exerci soleat id.

                                li
                                    .name-holder
                                        .number 03
                                        .name Domein-Beratung
                                    .description
                                        p Duo quidam adipisci sapientem in. Ius liber torquatos et, vis nobis exerci soleat id.

                                li
                                    .name-holder
                                        .number 04
                                        .name Home Page
                                    .description
                                        p Duo quidam adipisci sapientem in. Ius liber torquatos et, vis nobis exerci soleat id.

                                li
                                    .name-holder
                                        .number 05
                                        .name Kundenservice
                                    .description
                                        p Duo quidam adipisci sapientem in. Ius liber torquatos et, vis nobis exerci soleat id.

                                li
                                    .name-holder
                                        .number 06
                                        .name Konzeptentwicklung
                                    .description
                                        p Duo quidam adipisci sapientem in. Ius liber torquatos et, vis nobis exerci soleat id.

                                li
                                    .name-holder
                                        .number 07
                                        .name Web Grafik & Design
                                    .description
                                        p Duo quidam adipisci sapientem in. Ius liber torquatos et, vis nobis exerci soleat id.

                                li
                                    .name-holder
                                        .number 08
                                        .name User-Experience & -Interface Design
                                    .description
                                        p Duo quidam adipisci sapientem in. Ius liber torquatos et, vis nobis exerci soleat id.

                                li
                                    .name-holder
                                        .number 09
                                        .name Responsive Design/Mobiles Layout
                                    .description
                                        p Duo quidam adipisci sapientem in. Ius liber torquatos et, vis nobis exerci soleat id.

                                li
                                    .name-holder
                                        .number 10
                                        .name Kundenservice
                                    .description
                                        p Duo quidam adipisci sapientem in. Ius liber torquatos et, vis nobis exerci soleat id.




                #contacts
                        .content
                            h3 Contacts
                            .text-holder
                                p Lorem ipsum dolor sit amet, electram gubergren interesset et usu, inani iriure accusam mei no. Graeco singulis necessitatibus id sea. Lorem viris ex his, has in tota quaestio praesent.

                            .content-holder.cf
                                .left-holder
                                    h4 Contact details
                                    ul.contacts-details
                                        li
                                            h5 Address
                                            p Lorem ipsum dolor sit amet
                                        li
                                            h5 Phone
                                            p
                                                a(href="tel:+380(93)5469365") +380 (93) 54 69 365
                                            p
                                                a(href="tel:+380(93)5469365") +380 (93) 54 69 365
                                        li
                                            h5 E-mail
                                            p
                                                a(href="mailto:Intertech@gmail.com") Intertech@gmail.com

                                        li.social
                                            a.fecebook(target="_blank" href="#")
                                            a.vk(target="_blank" href="#")
                                            a.google(target="_blank" href="#")
                                .right-holder
                                    h4 Contact form

                                    form.contacts-form
                                        .row.input
                                            div

                                                input(type="text", placeholder="Name:", name="name", minlength="2", data-validate="name")
                                            div
                                                input(type="email", placeholder="E-mail:", name="email", data-validate="email")

                                        .row
                                            div
                                                textarea( placeholder="Your message:", name="message",data-validate="name")

                                        //button(type="submit") Отправить
                                        .btn.submit Send massage


            include ./footer.jade



